body {
    background-color: #333;
    font-family: sans-serif;
   background: url("https: //s3.amazonaws.com/shecodesio-production/uploads/files/000/143/852/original/a_forest_on_the_moon_with_some_houses_in_between_the_earth_is_in_the_background_and_ufos.jpeg?1726514670");
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    color: #fff;
}

h2 {
    margin: 0 0 5px;
    font-size: 28px;
    color: #fff;
}

h2 img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

select {
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
    background-color: #444;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background: #222;
    padding: 30px;
    box-shadow: 0px 0px 10px lightseagreen, 0px 0px 10px lightseagreen inset ;
    border-radius: 48px 0;
}

.city {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.7;
    color: #fff;
}

.time {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

.time small {
    font-size: 24px;
    vertical-align: middle;
    line-height: 48px;
    color: #fff;
}

footer {
    text-align: center;
    font-size: 18px;
    color: #fff;
}